@import 'Scss/mixins.scss';

.icon_btn {
	background-color: transparent;
	border: none;
	margin: 0 0.1rem;
	text-align: center;
	cursor: pointer;
	@include text($font-size: 1rem);

	> svg {
		width: 1.2rem;
		height: 1.2rem;
		vertical-align: middle;
	}

	&:hover {
		opacity: 0.3;
	}
}
