@import 'Scss/mixins.scss';

.icon_btn {
	background-color: transparent;
	border: none;
	margin: 0 0.1rem;
	text-align: center;
	cursor: pointer;
	flex-shrink: 0;

	> svg {
		width: 100%;
		height: 100%;
		vertical-align: middle;
	}

	&:hover {
		opacity: 0.3;
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}
