@import 'Scss/vars.scss';
@import 'Scss/mixins.scss';

.form_input {
	@include text($font-size: 18px, $font-weight: 500);
	width: 100%;
	border: none;
	border-bottom: 2px solid $primary-red;
	outline: none;
	padding: 2% 1%;

	@media (max-width: 1200px) {
		@include text-l($font-weight: 500);
	}

	@media (max-width: 768px) {
		@include text-m($font-weight: 500);
	}

	@media (max-width: 576px) {
		@include text-s($font-weight: 500);
	}
}
