@import 'Scss/vars.scss';
@import 'Scss/mixins.scss';

.search__form {
	@include flex($gap: 2px);
	align-self: flex-end;
	border: $border;
	padding: 0 1%;
	min-height: 40px;
	background: $primary-white;

	input {
		width: 70%;
		border: none;
		padding: 1% 0;
		outline: none;
		background: transparent;

		@media (max-width: 1200px) {
			@include text-l;
		}

		@media (max-width: 768px) {
			@include text-m;
		}

		@media (max-width: 576px) {
			@include text-s;
		}
	}
}

.search_icon {
	border: none;
	background-color: transparent;
}

.search_icon > svg {
	width: 17px;
	height: 17px;
	vertical-align: middle;
	cursor: pointer;

	@media (max-width: 768px) {
		width: 15px;
		height: 15px;
	}

	@media (max-width: 576px) {
		width: 12px;
		height: 12px;
	}
}

.search_icon:hover {
	opacity: 0.7;
}
