@import 'Scss/vars.scss';
@import 'Scss/mixins.scss';

.table__wrap {
	text-align: center;
	display: inline-block;
	width: 100%;

	@media (max-width: 1200px) {
		overflow-x: scroll;
	}
}

.table {
	&__content {
		@include text;
		min-width: 40rem;
		width: 100%;
		border-collapse: collapse;
		border: $border;

		th,
		td {
			word-wrap: break-word;
			padding: 0.5rem;
		}
	}

	&__caption {
		@include text($font-size: 2rem, $font-weight: 300);
		min-height: 2rem;
		text-align: left;
		margin-bottom: 1rem;
	}

	&__head,
	&__foot {
		background-color: $primary-gray;

		th:first-child {
			text-align: left;
		}
	}

	&__body {
		td {
			text-align: center;

			&:first-child {
				text-align: left;
			}
		}

		tr:hover td {
			background: $secondary-gray;
		}
	}

	&__pagination {
		@include flex($gap: 0.3rem);

		&_wrapper {
			@include flex($justify-content: flex-end);
		}

		&_range {
			@include flex($gap: 0.1rem);
		}
	}
}

.link_black {
	@include text;
	color: $primary-black;
	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}
}

.page_num {
	@include text($font-size: 1rem);
	margin: 0 0.2rem;
	background-color: transparent;
	border: none;
	text-align: center;
	cursor: pointer;
	flex-shrink: 0;

	&:hover {
		opacity: 0.3;
	}
}

.active_page {
	color: $primary-black;
	font-weight: 700;
	cursor: not-allowed;
}
