@import 'Scss/vars.scss';
@import 'Scss/mixins.scss';

.primary_output {
	@include text;
	color: $primary-black !important;
	min-height: 1rem;
	padding: 0.3rem 0.5rem;
	background-color: transparent;
	width: 100%;
	border: $border;
	border-radius: 4px;
	outline-color: $primary-gray;
}
