@import 'Scss/vars.scss';
@import 'Scss/mixins.scss';

.btn_group {
	@include flex($justify-content: start);
	flex-wrap: wrap;
	width: 100%;
	padding-top: 1.5rem;
}

.interview__settings {
	@include flex($flex-direction: column);
	padding-top: 1rem;
	border: $border;
	width: 100%;
	background: $primary-white;
}

.settings__list {
	@include flex($flex-direction: column, $align-items: start, $gap: 0);
	border-top: $border;
	background: $secondary-gray;
	list-style: none;
	width: 100%;

	&_option {
		@include flex($justify-content: start);
		@include text;
		padding: 0.5rem 1rem;
		width: 100%;
		cursor: pointer;

		&:hover {
			background: $primary-gray;
		}
	}
}

.question {
	&__head {
		@include flex;
		width: 100%;
	}

	&__list {
		@include flex($flex-direction: column, $align-items: start, $gap: 0);
		background: transparent;
		list-style: none;
		width: 100%;

		&_option {
			@include flex($justify-content: start);
			@include text;
			padding: 0.5rem 0rem 0.5rem 1rem;
			width: 100%;
			cursor: pointer;

			&:hover {
				background: $secondary-gray;
			}
		}
	}

	&__control {
		&_btn {
			@include flex($justify-content: flex-end);
			width: 100%;
			padding: 1rem 0;
		}

		&_required {
			height: 60%;
			margin-left: auto;
		}
	}
}

.icon_red {
	margin-left: auto;
	background-color: transparent;
	border: none;
	color: $primary-red;

	> svg {
		width: 100%;
		height: 100%;
	}
}
