@import 'Scss/vars.scss';
@import 'Scss/mixins.scss';

.interview__settings {
	@include flex($flex-direction: column);
	padding-top: 1rem;
	border: $border;
	width: 100%;
	@include theme-aware('background-color', 'form-bg');
}

.settings__list {
	@include flex($flex-direction: column, $align-items: start, $gap: 0);
	border-top: $border;
	@include theme-aware('background-color', 'tabbar-bg');
	list-style: none;
	width: 100%;

	&_option {
		@include flex($justify-content: start);
		@include text;
		padding: 0.5rem 1rem;
		width: 100%;
		cursor: pointer;
		outline-color: $primary-red;

		&:hover {
			background: $primary-gray;
		}
	}
}
