@import 'Scss/vars.scss';
@import 'Scss/mixins.scss';

.app {
	width: 100%;
}

.Toastify__toast-theme--light {
	background-color: $primary-white;
	color: $primary-black;
	border: $border;
	@include text($font-size: 1rem);
}

.Toastify__toast-theme--dark {
	background-color: $dark-bg;
	color: $primary-white;
	border: $border;
	@include text($font-size: 1rem);
}

.icon_black {
	@include theme-aware('color', 'main-text-color');

	&:hover {
		opacity: 0.7;
	}
}

.icon_gray {
	@include icon($color: $primary-gray);

	&:hover {
		color: $primary-black;
	}
}

.icon_red {
	@include icon($color: $primary-red);
}
