@import 'Scss/vars.scss';
@import 'Scss/mixins.scss';

.main {
	height: 100%;
	padding: 3% 5%;
	@include flex($gap: 30px, $justify-content: flex-start);

	&__content {
		height: 100%;
		min-height: 250px;
		@include flex(
			$flex-direction: column,
			$justify-content: flex-start,
			$align-items: start,
			$gap: 5px
		);
		width: 75%;
		padding-left: 3%;
		border-left: $border;
		position: relative;

		&_title {
			@include text($font-size: 60px, $font-weight: 800);

			@media (max-width: 768px) {
				@include text($font-size: 50px, $font-weight: 700);
			}

			@media (max-width: 576px) {
				@include text($font-size: 40px, $font-weight: 700);
			}
		}

		&_head {
			width: 100%;
			@include flex;

			> button {
				padding: 0 1%;
				min-height: 40px;
			}
		}

		&_cards {
			@include flex;
			flex-wrap: wrap;

			&-item {
				width: 30%;
				border: $border;
				padding: 2%;
				@include flex($flex-direction: column);

				h3 {
					@include text($font-size: 24px, $font-weight: 600);
				}

				p {
					@include text($font-weight: 300);
					text-align: justify;
				}

				span {
					@include text($font-size: 20px, $font-weight: 500);
				}
			}
		}

		&_total {
			margin-top: 3%;
			@include text($font-size: 25px, $font-weight: 500);
			align-self: flex-start;
		}

		> button {
			padding: 0 1%;
			min-height: 40px;
		}

		@media (max-width: 768px) {
			width: 100%;
			padding-left: 0;
			border-left: none;
		}

		@media (max-width: 576px) {
			@include text($font-size: 40px, $font-weight: 700);
		}
	}

	@media (max-width: 768px) {
		@include flex(
			$gap: 25px,
			$flex-direction: column,
			$justify-content: flex-start
		);
	}

	@media (max-width: 576px) {
		padding: 2% 3%;
		@include flex(
			$gap: 20px,
			$flex-direction: column,
			$justify-content: flex-start
		);
	}
}
