@import 'Scss/vars.scss';
@import 'Scss/mixins.scss';

.form {
	@include flex($flex-direction: column, $gap: 25px);
	min-width: 470px;
	padding: 2% 3%;
	background: $primary-white;
	border: $border;
	filter: drop-shadow(4px 4px 4px $primary-gray);

	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 5%;
	}

	&__title {
		@include text($font-size: 28px, $font-weight: 600);

		@media (max-width: 768px) {
			@include text($font-size: 25px, $font-weight: 600);
		}
		@media (max-width: 576px) {
			@include text($font-size: 20px, $font-weight: 600);
		}
	}

	@media (max-width: 768px) {
		min-width: 370px;
	}

	@media (max-width: 576px) {
		@include flex($flex-direction: column, $gap: 15px);
		padding: 1% 2%;
		border: none;
		filter: none;
		width: 100%;
		min-width: 300px;
	}
}
