@import 'Scss/vars.scss';
@import 'Scss/mixins.scss';

.search_form {
	@include flex($gap: 0.1rem);
	align-self: flex-end;
	border: $border;
	padding: 0 0.5rem;
	background: $primary-white;

	&_field {
		@include text;
		width: 90%;
		border: none;
		padding: 0.5rem;
		outline-color: transparent;
		outline-offset: -3px;
		background: transparent;
	}

	@media (max-width: 576px) {
		width: 100%;
	}
}
