@import '../../../scss/mixins.scss';
@import '../../../scss/vars.scss';

.nav_btn {
	@include text($font-size: 20px, $color: $primary-white);
	align-content: center;
	padding: 3%;
	background-color: $primary-red;
	transition: all 0.5s ease;
	border: none;
	cursor: pointer;
}

.nav_btn:hover {
	background-color: $primary-black;
}
