@import 'Scss/mixins.scss';
@import 'Scss/vars.scss';

.nav_btn {
	@include text($font-size: 20px, $color: $primary-white);
	align-content: center;
	padding: 3%;
	background-color: $primary-red;
	transition: all 0.3s ease;
	border: none;
	cursor: pointer;

	@media (max-width: 1200px) {
		@include text-l($color: $primary-white);
	}

	@media (max-width: 768px) {
		@include text-m($color: $primary-white);
		padding: 1% 2%;
	}

	@media (max-width: 576px) {
		@include text-s($color: $primary-white);
		padding: 1%;
	}
}

.nav_btn:hover {
	background-color: $primary-black;
}

.active_btn {
	background-color: $primary-black;
}
