@import 'Scss/vars.scss';
@import 'Scss/mixins.scss';

.submit_input {
	padding: 0.7rem 1rem;
	border: none;
	background-color: $primary-red;
	@include text($font-weight: 500);
	color: $primary-white !important;
	cursor: pointer;
	outline-color: $primary-black;

	&:disabled {
		opacity: 0.7;
	}

	&:hover {
		text-shadow: $shadow-text;
	}
}
