@import 'Scss/vars.scss';
@import 'Scss/mixins.scss';

.page_info {
	@include text($font-size: 1.7rem, $font-weight: 600, $color: $primary-red);
	padding: 4rem;
	background: $primary-white;
	border-bottom: 2px solid $primary-gray;

	> a {
		text-decoration: none;
		color: $info-gray;

		&:hover {
			color: $primary-black;
		}
	}
}
