@import 'Scss/vars.scss';
@import 'Scss/mixins.scss';

.primary_select {
	@include text;
	padding: 0.1rem 0.2rem;
	background-color: transparent;
	color: $primary-black !important;
	border: $border;
	border-radius: 4px;
	outline-color: $primary-gray;
}
