@import 'Scss/vars.scss';
@import 'Scss/mixins.scss';

.header {
	border-bottom: $border;
	padding: 3% 5%;
	@include flex;

	&__logo img {
		cursor: pointer;
		width: 200px;
		height: auto;

		@media (max-width: 768px) {
			width: 150px;
		}

		@media (max-width: 576px) {
			width: 100px;
		}
	}

	&__logo:hover {
		opacity: 0.8;
	}

	&__nav {
		@include flex($gap: 15px);

		a {
			position: relative;
			@include text($font-size: 20px, $font-weight: 500);
			text-decoration: none;
			white-space: nowrap;
			outline: 0;
			cursor: pointer;

			@media (max-width: 768px) {
				@include text($font-size: 16px, $font-weight: 400);
			}

			@media (max-width: 576px) {
				@include text($font-size: 13px, $font-weight: 300);
			}
		}

		a:hover::after {
			content: '';
			position: absolute;
			width: 6px;
			height: 6px;
			background: $primary-black;
			bottom: -12px;
			left: calc(50% - 3px);
		}

		&_user {
			@include flex;

			white-space: nowrap;

			> span {
				@include text($font-size: 20px, $font-weight: 500);

				@media (max-width: 768px) {
					@include text($font-size: 16px, $font-weight: 400);
				}

				@media (max-width: 576px) {
					@include text($font-size: 13px, $font-weight: 300);
				}
			}
		}
	}

	.active::after {
		content: '';
		position: absolute;
		width: 6px;
		height: 6px;
		background: $primary-black;
		bottom: -12px;
		left: calc(50% - 3px);
	}

	@media (max-width: 576px) {
		padding: 4% 3%;
	}
}
