@import 'Scss/vars.scss';
@import 'Scss/mixins.scss';

.results__info {
	@include flex($justify-content: flex-start);
	flex-wrap: wrap;
	@include text($font-weight: 500);
}

.chart__wrapper {
	position: relative;
	height: 300px;
	width: 100%;

	@media (max-width: 768px) {
		height: 200px;
	}
}
