@import 'Scss/vars.scss';
@import 'Scss/mixins.scss';

.checkbox {
	&__wrapper {
		@include flex($justify-content: start);
		@include text($font-size: 1.1rem);
		@include theme-aware('color', 'main-text-color');
		background: transparent;
		cursor: pointer;
		width: 100%;
	}

	&__checkmark {
		@include flex($justify-content: center);
		flex-shrink: 0;
		border-width: 1px;
		border-style: solid;
		@include theme-aware('border-color', 'border-color');
		border-radius: 4px;
		height: 1.2rem;
		width: 1.2rem;
		background-color: transparent;

		> svg {
			color: $primary-white;
			height: 0.6rem;
			width: 0.6rem;
		}

		&:hover {
			opacity: 0.8;
		}
	}
}

.checked-box {
	background-color: $primary-red;
	@include theme-aware('box-shadow', 'shadow-btn');
}
