@import 'vars.scss';
@import 'mixins.scss';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 18px;

	@media (max-width: 1200px) {
		font-size: 16px;
	}
	@media (max-width: 768px) {
		font-size: 14px;
	}

	@media (max-width: 576px) {
		font-size: 12px;
	}
}

body {
	font-family: $font-family;
}

.title_l {
	@include text($font-size: 3.5rem, $font-weight: 800);
}

.title_m {
	@include text($font-size: 2rem, $font-weight: 700);
}

.title_s {
	@include text($font-size: 1.5rem, $font-weight: 600);
}

.title_s_red {
	@include text($font-size: 1.5rem, $font-weight: 500);
	color: $primary-red;
}

.title_xs {
	@include text($font-size: 1.2rem, $font-weight: 600);
	color: $primary-black !important;
}

.p_primary {
	@include text($font-weight: 300);
}

.p_secondary {
	@include text($font-size: 1.2rem, $font-weight: 500);
}

.p_info-red {
	@include text($font-size: 1.2rem);
	color: $primary-red;
}

.p_info {
	@include text($font-size: 1rem, $font-weight: 500);
	color: $info-gray;
}

.icon_l {
	width: 1.6rem;
	height: 1.6rem;
}

.icon_m {
	width: 1.2rem;
	height: 1.2rem;
}

.icon_s {
	width: 0.8rem;
	height: 0.8rem;
}

.icon_xs {
	width: 0.6rem;
	height: 0.6rem;
}

.link_black {
	@include text;
	color: $primary-black;
	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}
}

.disabled_item {
	cursor: not-allowed !important;
}
