$font-family: 'IBM Plex Sans Condensed', sans-serif;
$text-color: #101010;
$primary-white: #fff;
$primary-red: #eb3d26;
$primary-black: #101010;
$primary-gray: rgba(0, 0, 0, 0.1);
$secondary-gray: rgba(145, 143, 143, 0.1);
$example-gray: rgba(243, 243, 243, 0.24);
$info-gray: rgba(136, 136, 136, 0.91);
$chart-gray: #cac6c5;
$dark-gray: #505050;
$dark-bg: #181a1b;
$dark-item-bg: #1f2122;

$border: 1px solid $primary-gray;
$shadow-form: drop-shadow(4px 4px 4px $primary-gray);
$shadow-text: $primary-white 1px 0 10px;
$shadow-checkbox-light: $primary-red 1px 0 5px;
$shadow-checkbox-dark: $primary-white 1px 0 5px;

$padding-l: 2rem;
$padding-m: 1.5rem 1rem;
$padding-s: 1.3rem 1rem;
