$font-family: 'IBM Plex Sans Condensed', sans-serif;
$bg-color: #fff;
$text-color: #101010;
$primary-white: #fff;
$primary-red: #eb3d26;
$primary-black: #101010;
$primary-gray: rgba(0, 0, 0, 0.1);
$secondary-gray: rgba(145, 143, 143, 0.1);

$border: 1px solid $primary-gray;
